
@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component AppMain {
  flex: 1;
  padding: 24px;
  background-color: #fff;
  border-radius: 2px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
