@component FileInput {

  @descendent filesbutton {
    padding: 0px 1em !important;
    text-align: center;

    input {
      left: 0px;
      height: 100%;
      position: absolute;
      z-index: 1000;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  @descendent preview {
    margin-top: 1em;
    @descendent image {
      width: 100%;
      height: 50px;
      background-position: center;
      background-size: cover;
    }
  }
}
