
@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component AppHeader {
  position: relative;
  padding: 0;
  background-color: #fff;
  z-index: var(--AppHeader-zIndex);

  @descendent top {
    padding-left: 40px;
    min-height: 60px;

    @media (--m) {
      padding-left: 8%;
    }

    @descendent title {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @descendent menuBtn {

    @media (--m) {
      position: absolute;
      top: 15px;
      left: 13px;
    }
  }

  @descendent container {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

    @media (--m) {
      padding-right: 8%;
      padding-left: 8%;
    }

    @modifier top {

    }

    @modifier gray {
      background-color: #f2f2f2;
    }
  }

  @descendent divider {
    flex: 1;
  }

  @descendent filter {
    display: flex;
    align-items: center;
    width: 100%;
  }
  @descendent filterInput {
    position: relative;
    top: -14px;
    flex: 1;
  }
  @descendent filterCount {
    margin-left: 5px;
  }
}
