
@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component Button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  @descendent container {
    display: flex;
    align-items: center;
  }

  @modifier sm {
    padding: 4px 8px;
    font-size: 14px;

    .Button-iconContainer + .Button-title {
      margin-left: 5px;
    }
  }
  @modifier m {
    padding: 4px 8px;
    font-size: 16px;

    .Button-iconContainer + .Button-title {
      margin-left: 10px;
    }
  }

  @modifier mobile {

  }

  @modifier default {
    background-color: #F5F5F5;
    color: #212121;
    pointer-events: none;
  }

  @modifier disabled {
    background-color: #BDBDBD;
    color: #212121;
    pointer-events: none;
  }

  @descendent iconContainer {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .Button--sm & {
      width: 18px;
      height: 18px;
    }
    .Button--m & {
      width: 24px;
      height: 24px;
    }
  }

  /*.Button-iconContainer + .Button-title {

    .Button--sm & {
      margin-left: 5px;
    }
  }*/

  @descendent title {
    .Button--mobile & {
      display: none;

      @media (--m) {
        display: block;
      }
    }
  }
}
