
@import "commons/styles/variables.css";
@import "commons/styles/media-queries.css";

@component AppHeader {
  position: relative;
  margin-bottom: 20px;
  padding: 2px 24px 24px 24px;
  background-color: #fff;
  z-index: var(--AppHeader-zIndex);

  @descendent top {
    padding-left: 100px;

    @media (--m) {
      padding-left: 0;
    }
  }

  @descendent menuBtn {
    position: absolute;
    top: 13px;
    left: 11px;

    @media (--m) {
      display: none;
    }
  }

  @descendent container {

    @media (--s) {
      display: flex;
      align-items: center;
    }
  }

  @descendent divider {
    flex: 1;
  }

  @descendent filter {
    display: flex;
    align-items: center;
  }
  @descendent filterInput {
    position: relative;
    top: -14px;
  }
  @descendent filterCount {
    margin-left: 5px;
  }
}
